{{ define "main" }}
<article class="h-entry post single">
  <header class="single-header">
    {{ with .Title }}<h1 class="p-name">{{ . }}</h1>{{ end }}
    <div class="post-meta">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        <a class="u-url" href="{{ .Permalink }}">{{ .Date.Format "Jan 2, 2006 at 3:04 PM" }}</a>
      </time>
      {{ with .Params.audio }}
        <script type="text/javascript" src="https://micro.blog/narration.js?url={{ . }}"></script>
      {{ end }}
    </div>
  </header>

  <div class="e-content single-content">
    {{ .Content }}
  </div>

  {{ if .Site.Params.include_conversation }}
    <div class="post-conversation">
      <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
    </div>
  {{ end }}
</article>
{{ end }}
