<li class="post-item h-entry">
  <article>
    {{ if .Title }}
      <h2 class="post-title p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ end }}

    {{ $excerptLength := .Site.Params.cobalt_excerpt_length | default 280 }}
    {{ $showFull := or (not .Title) .Site.Params.cobalt_show_full_post }}
    {{ $isTruncated := and (not $showFull) (gt (len .Plain) $excerptLength) }}

    <div class="post-content e-content">
      {{ if $showFull }}
        {{ .Content }}
      {{ else }}
        <p>{{ .Plain | truncate $excerptLength }}</p>
      {{ end }}
    </div>
    {{ if $isTruncated }}
      <div class="post-more">
        <a class="read-more" href="{{ .Permalink }}">Continue reading &rarr;</a>
      </div>
    {{ end }}
    <div class="post-footer">
      <a class="u-url post-date" href="{{ .Permalink }}">
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
      </a>
      {{ if and (ne .Site.Params.cobalt_show_reading_time false) .Title (gt .ReadingTime 1) }}
        <span class="post-readtime">{{ .ReadingTime }} min read</span>
      {{ end }}
    </div>
    {{ if ne .Site.Params.cobalt_show_categories false }}
      {{ with .GetTerms "categories" }}
        <div class="post-categories">
          {{ range . }}
            <a class="post-category p-category" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </article>
</li>
